<div class="form-group">
    <label>{{chatBlockText}}</label>
    <div class="form-fields">
        <input type="checkbox" name="flags.effective-transferral.transferBlock.button" {{checked button}}>
    </div>
</div>
<div class="form-group">
    <label>{{buttonBlockText}}</label>
    <div class="form-fields">
        <input type="checkbox" name="flags.effective-transferral.transferBlock.chat" {{checked chat}}>
    </div>
</div>
<div class="form-group">
    <label>{{displayCardBlockText}}</label>
    <div class="form-fields">
        <input type="checkbox" name="flags.effective-transferral.transferBlock.displayCard" {{checked displayCard}}>
    </div>
</div>
