.effective-transferral.transfer-app {
  height: auto;
}

.effective-transferral.transfer-app .instruction {
  text-align: center;
  font-style: italic;
  margin: 0.5em 0;
}

.effective-transferral.transfer-app .effects {
  padding: 0.5em;
}

.effective-transferral.transfer-app :is(.header, .effect) {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  min-height: 30px;
  line-height: 30px;
}

.effective-transferral.transfer-app .header {
  border-bottom: 2px groove lightgray;
  font-weight: bold;
}

.effective-transferral.transfer-app :is(.header, .effect) > :not(:first-child) {
  justify-self: center;
}

.effective-transferral.transfer-app .buttons {
  display: flex;
  gap: 0.4em;
  flex-direction: column;
}

.effective-transferral.transfer-app .specifics {
  display: flex;
  gap: 0.4em;
}

.effective-transferral.transfer-app form:not(:has(.effect input[data-type=target]:checked)) .buttons [data-type=TARGET],
.effective-transferral.transfer-app form:not(:has(.effect input[data-type=self]:checked)) .buttons [data-type=SELF],
.effective-transferral.transfer-app form:not(:has(.effect input[data-type]:checked)) .buttons [data-type=ALL] {
  pointer-events: none;
  color: gray;
}
